* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
}

p {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}